.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    /* background-image: url("../../assets/img/bg.jpg"); */
    background-color: #1f2235;
}